* {
    margin: 0;
    padding: 0;
}

ul, li {
    list-style: none;
}

img {
    border: 0;
}

html {
    height: 100%;
    /*min-width: 700px;*/
    *overflow-x: hidden;
}

body {
    font-size: 13px;
    min-height: 600px;
    position: relative;
    height: 100%;
    text-align: center;
}

/*中间布局*/
.cen {
    position: relative;
    top: 38%;
    height: 365px;
}

.form_submit {
    position: relative;
    top: 150px;
+ top: - 191 px;
    _top: -120px;
}

/*logo图片*/
.logo img {
    width: 200px;
    height: 70px;
}

/*表单*/
#form {
    margin: 22px auto 0;
    width: 641px;
    text-align: left;
    z-index: 100;
}

/*搜索*/
.search_input {
    position: relative;
}

.search_input input {
    width: 500px;
}

.search_class {
    border: 1px solid #b6b6b6;
    width: 539px;
    display: inline-block;
    height: 34px;
    margin-right: 0;
    border-right-width: 0;
    background: rgba(255, 255, 255, 1);
}

.search_class:hover {
    border-color: #999;
}

/*搜索框*/
.input_text {
    position: relative;
}

.input_class {
    font-size: 16px;
    height: 22px;
    margin: 6px 0 0 7px;
    border: 0;
    outline: 0;
}

/*照相机*/
.search_camera {
    z-index: 1;
    position: absolute;
    top: 50%;
    right: 10px;
    background: url(../images/search_input.png) no-repeat -229px 0;
    width: 18px;
    height: 16px;
    margin-top: -8px;
    cursor: pointer;
}

.search_camera:hover {
    background-position: -229px -21px;
}

/*按钮背景*/
.btn_submit {
    display: inline-block;
    float: right;
    border-left: 1px solid #3385ff;
    *position: relative;
    *top: -36px;
}

.bg:hover {
    background-color: #317ef3;
}

/*按钮样式*/
.btn {
    color: white;
    letter-spacing: 1px;
    background-color: #3385ff;
    width: 100px;
    height: 36px;
    font-size: 15px;
    cursor: pointer;
    border: 0;
}

/*下拉隐藏导航*/
#s_top_wrap {
    position: absolute;
    z-index: 99;
    min-width: 1000px;
    width: 100%;
    background: #fff;
    display: none;
}

#s_top_wrap.s-down {
    position: fixed;
    top: 0;
    left: 0;
    height: 74px;
    z-index: 10;
    width: 100%;
    box-shadow: 0 0 5px #888;
}

/*logo图片*/
#s_top_wrap.s-down #result_logo {
    display: inline-block;
    zoom: 1;
    vertical-align: middle;
    margin-top: 12px;
}

#result_logo img {
    width: 101px;
}

/*搜索框*/
.s-down .fm {
    margin: 20px 0 0 25px;
}

.s-down .fm {
    display: inline-block;
    zoom: 1;
    vertical-align: middle;
}

/*导航*/
#top {
    margin: 20px 0 5px 0;
    position: absolute;
    top: 0;
    right: 0;
    line-height: 24px;
    padding-right: 90px;
}

#top a:hover {
    color: #0404DE;
    cursor: pointer;
}

.top_lead {
    color: #333333;
    font-weight: bold;
    margin-left: 20px;
    float: left;
    text-decoration: underline;
}

/*登录/设置*/
.login, .set, .more {
    float: left;
    color: #333333;
    margin-left: 20px;
}

/*更多*/
.more {
    position: absolute;
    right: 10px;
    background-color: #3388ff;
    color: white;
    text-decoration: none;
    width: 60px;
    height: 23px;
    text-align: center;
}

/*更多产品整体*/
.details {
    z-index: 2;
    width: 85px;
    border-left: 1px solid #e7e7e7;
    background-color: #f9f9f9;
    position: absolute;
    top: 0;
    right: 0;
    min-height: 100%;
    display: none;
}

/*更多产品*/
.more_dp {
    color: #333333;
    width: 66px;
    text-align: center;
    height: 43px;
    line-height: 43px;
    padding-top: 9px;
    margin: 0 auto;
    font-size: 13px;
    border-bottom: 1px solid #f0f0f0;
}

.more_bottom a {
    width: 66px;
    height: 68px;
    text-align: center;
    color: #666666;
    text-decoration: none;
    border-bottom: 1px solid #f0f0f0;
    display: block;
    margin: 0 auto;
}

/*下拉统一样式*/
.bg_dp {
    width: 36px;
    height: 36px;
    display: block;
    margin: 10px auto 5px;
    cursor: pointer;
    background-image: url(../images/bg_pd.png);
}

/*音乐*/
.music {
    width: 40px;
    background-position: -72px 0;
}

/*图片*/
.image {
    background-position: -112px 0;
}

/*知道*/
.zhidao {
    background-position: -36px 0;
}

/*文库*/
.wenku {
    background-position: -148px 0;
}

/*风云榜*/
.top {
    background-position: -184px 0;
}

/*百度推广*/
.ebaidu {
    background-position: -220px 0;
}

/*全部产品*/
.more_footer {
    margin-top: 15px;
    height: 30px;
    text-align: center;
}

.more_footer a {
    color: #666666;
}

/*底部*/
#footer {
    width: 100%;
    position: absolute;
    z-index: 3;
    /*bottom: 12px;*/
    left: 0;
    overflow: hidden;
    color: #999;
    zoom: 1;
    margin: 20px 0 10px 0;
}

.footer_center {
    text-align: center;
    margin: 0 auto;
    overflow: hidden;
    *width: 640px;
    /*display: inline-block;*/
    /*_zoom:1;*/
    /**display: inline;*/
}

/*底部左边*/
.left {
    display: inline-block;
    _zoom: 1;
    *display: inline;
    margin: 0 auto;
    *float: left;
}

/*百度*/
.baidu {
    float: left;
}

/*手机百度*/
.iphone {
    background-image: url(../images/baidu_iphone.png);
    width: 60px;
    height: 60px;
    float: left;
}

/*百度糯米*/
.nuomi {
    background-image: url(../images/baidu_nuomi.png);
    width: 60px;
    height: 60px;
    float: left;
}

/*二维码旁边的注释*/
.txt {
    float: left;
    margin: 8px 0 0 10px;
    line-height: 24px;
    color: #666666;
}

.baidu_left {
    margin-left: 33px;
}

/*底部右边*/
.right {
    color: #999999;
    display: inline-block;
    _zoom: 1;
    *display: inline;
    text-align: left;
    margin-left: 33px;
    position: relative;
    top: -2px;
    *left: 33px;
    line-height: 22px;
    _margin-left: -20px;
}

/*IE7*/
.right_footer {
    *float: left;
}

/*a标签字体的颜色*/
.right a {
    color: #999999;
}

#set {
    display: inline;
}

.a_margin {
    margin-left: 62px;
}

/*小图标*/
.small {
    background-image: url(../images/small.png);
    width: 14px;
    height: 17px;
    display: inline-block;
    cursor: pointer;
}

.ICP {
    background-position: -600px -96px;
    position: relative;
    top: 3px;
}

.JGW {
    background-position: -623px -96px;
    position: relative;
    top: 2px;
}

#index-card {
    display: none;
}

/*登录之后*/
/*位置*/
#s_wrap {
    width: 100%;
    margin: 0 auto;
    position: relative;
    height: 770px;
}

#s_main {
    display: block;
    position: relative;
    margin: 0 auto;
    width: 895px;
}

.s-mancacrd-main {
    position: relative;
}

/*菜单*/
.s-menu-container {
    width: 100%;
    min-height: 35px;
    background: rgba(255, 255, 255, 0.9);
}

.s-ctner-menus {
    position: relative;
    z-index: 11111;
    width: 893px;
    margin: 0 auto;
    text-align: left;
    font-size: 14px;
    border-top: 1px solid #e9e9e9;
    border-right: 1px solid #e9e9e9;
    border-left: 1px solid #e9e9e9;
    height: 39px;
    line-height: 39px;
}

/*我的关注*/
.s_menu_mine {
    display: inline-block;
    vertical-align: top;
    float: left;
    text-align: left;
    width: 124px;
    background-color: #9a9da2 !important;
    color: #fff;
    font-weight: bold;
    filter: none !important;
    margin-top: -1px;
    margin-bottom: -1px;
    border-top: 1px solid #9a9da2;
    border-bottom: 1px solid #9a9da2;
}

/*小头像*/
.mine-icon {
    margin: 11px 0 0 20px;
    width: 20px;
    height: 18px;
    background: url(../images/setts.png) no-repeat -144px 0;
    float: left;
}

.mine-text {
    height: 100%;
    margin-left: 3px;
    display: inline-block;
    zoom: 1;
    vertical-align: top;
}

/*关注的主题*/
.s_menu_outer {
    float: left;
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    width: 719px;
}

.s_menu_wrapper {
    display: inline-block;
    float: left;
    vertical-align: top;
    height: 100%;
}

/*主题*/
.s_menu_item {
    color: #333;
    width: 80px;
    height: 40px;
    display: inline-block;
    zoom: 1;
    vertical-align: top;
    text-align: center;
    cursor: pointer;
}

.s_menu_item:hover {
    background-color: #b3b6bb !important;
    color: #fff;
    filter: none !important;
}

/*空白处*/
.s-space {
    flex: auto;
    height: 38px;
}

/*设置*/
.s_menu_set {
    float: right;
    width: 18px;
    padding: 0 21px 0 11px;
    cursor: pointer;
}

.menu-set {
    width: 100%;
    height: 18px;
    margin-top: 11px;
    overflow: hidden;
    background: url(../images/setts.png) no-repeat -121px -49px;
}

.s_menu_set:hover .menu-set {
    background-position: -121px -73px;
}

/*内容*/
.s-content {
    width: 893px;
    min-height: 363px;
    border: 1px solid #e9e9e9;
    background: rgba(255, 255, 255, 0.9);
}

.s-mine-split {
    height: 342px;
    overflow: hidden;
    position: relative;
    z-index: 0;
}

/*星座*/
.s-code-block {
    position: relative;
    width: 100%;
    margin-top: 13px;
    margin-bottom: 10px;
    /*background: url(../images/line.png) repeat;*/
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}

.s-block-container {
    width: 844px;
    margin: 0 auto;
    /*border-bottom: 1px solid #F0F0F0;*/
}

.s-code-block:hover .s-setbar {
    display: block;
}

/*标题*/
.s-mblock-title {
    position: relative;
    z-index: 0;
    height: 30px;
    width: 100%;
    text-align: left;
    font-size: 14px;
    padding-bottom: 6px;
}

.title-content {
    height: 100%;
    line-height: 30px;
    cursor: pointer;
}

/*小三角*/
.mine-title-icon {
    position: relative;
    z-index: 0;
    font-size: 0;
    height: 10px;
    width: 10px;
    margin-right: 6px;
    display: inline-block;
    zoom: 1;
}

.mine-title-icon em {
    position: absolute;
    left: 0;
    height: 0;
    line-height: 0;
    width: 0;
    font-size: 0;
    border: 5px dashed transparent;
    border-top: 5px solid #666;
    border-top: 5px dashed transparent;
    border-left: 5px solid #666;
}

/*标题text*/
.mine-title-text {
    line-height: 30px;
    height: 30px;
    font-weight: bold;
    margin-right: 4px;
}

.mine-title-num {
    height: 30px;
    color: #666;
}

/*添加 编辑 置顶*/
.s-setbar {
    position: absolute;
    top: 0;
    right: 0;
    height: 30px;
    line-height: 30px;
    z-index: 2;
    font-size: 13px;
    display: none;
}

.set-bar-content {
    height: 100%;
    text-align: right;
    float: right;
    margin: 0 auto;
}

.set-btn {
    display: inline-block;
    zoom: 1;
    vertical-align: middle;
    cursor: pointer;
    width: 30px;
    margin-left: 16px;
    text-align: right;
}

.set-top {
    color: #999;
}

.set-btn:hover {
    color: #07f;
}

.set-top:hover {
    color: #999;
}

/*自定义*/
.tips-manager-area {
    position: relative;
    height: 30px;
    line-height: 30px;
    text-align: left;
    margin-top: 13px;
}

.tips-manager-btn {
    height: 30px;
    line-height: 30px;
    margin-left: 25px;
    width: 60px;
    cursor: pointer;
}

.tips-manager-btn span {
    display: inline-block;
    zoom: 1;
    vertical-align: middle;
}

/*小加号图标*/
.tips-manager-area .tips-manager-btn .manager-btn-icon {
    height: 12px;
    width: 12px;
    font-size: 0;
    background: url(../images/mine_set.png) 0 0 no-repeat;
    position: relative;
    top: 8px;
    float: left;
}

/*自定义text*/
.manager-btn-text {
    font-size: 14px;
    color: #333;
    padding-left: 6px;
}

/*滚动*/
.s-more-bar {
    width: 90px;
    height: 45px;
    padding-top: 20px;
    margin: 0 auto;
    cursor: pointer;
    color: #999;
}

.s-more-bar .rect {
    height: 18px;
    width: 34px;
    font-size: 0;
    margin: 10px auto 0 auto;
    border: 0;
    background: url(../images/setts.png) no-repeat -1px -36px;
}

/*点击自定义之后*/
.sui-dialog-minesetting {
    position: absolute;
    border: none !important;
    z-index: 3;
    display: none;
}

/*小叉号*/
.sui-dialog-minesetting .sui-dialog-close {
    height: 11px;
    width: 11px;
    right: 12px;
    cursor: pointer;
    background: url(../images/mine_set.png) no-repeat -163px -28px;
}

.sui-dialog-close {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 10px;
    top: 10px;
    text-indent: -100000px;
    cursor: pointer;
    outline: none;
    z-index: 1000;
}

.sui-dialog-minesetting .sui-dialog-close:hover {
    background-position: -182px 0;
}

.sui-dialog-body {
    padding: 0;
    background: #fff;
    min-height: 30px;
    color: #666;
    font-size: 13px;
}

.s-minesetting {
    position: relative;
    text-align: left;
    border: 1px solid #e3e3e3;
    width: 651px;
    padding-top: 10px;
}

.s-minesetting-wrap {
    height: 121px;
    border-bottom: 1px solid #f0f0f0;
}

/*左边*/
.s-minesetting-left {
    float: left;
    width: 294px;
    padding-left: 31px;
    position: relative;
    zoom: 1;
}

.s-minesetting-wrap .s-minesetting-left h3, .s-minesetting-wrap .s-minesetting-right h3 {
    font-weight: normal;
    font-size: 13px;
    color: #666;
    text-indent: 2px;
    text-align: left;
}

.s-minesetting-left .s-minesetting-content, .s-minesetting-right .s-minesetting-content {
    position: relative;
}

.s-minesetting-content {
    font-size: 0;
    height: 85px;
}

/*我的星座*/
.s-minesetting-left .s-mod-item {
    z-index: 1 !important;
}

.s-minesetting-wrap .s-mod-item {
    font-size: 12px;
    position: relative;
    display: inline-block;
    margin: 6px 5px 6px 5px;
    cursor: pointer;
}

.s-minesetting-wrap .s-minesetting-left .s-mod-icon {
    position: absolute;
    top: -6px;
    left: -6px;
    width: 15px;
    height: 15px;
    overflow: hidden;
    background: url("../images/mine_set.png") no-repeat 0 -13px;
}

/*我的星座标题*/
.s-minesetting-wrap .s-minesetting-left .s-mod-title {
    border: 1px dashed #cdcdcd;
    width: 79px;
}

.s-minesetting-wrap .s-mod-title {
    text-align: center;
    height: 24px;
    line-height: 25px;
    width: 77px;
    font-size: 13px;
    color: #222;
    background: #fff;
}

.sui-draggsort-collapse {
    visibility: hidden;
    width: 100%;
}

.s-minesetting-wrap .s-minesetting-left .s-minesetting-content .s-mod-item:hover .s-mod-icon {
    background-position: -16px -13px;
}

.s-minesetting-wrap .s-minesetting-left .s-minesetting-content .s-mod-item:hover .s-mod-title {
    border: 1px dashed #38f;
    color: #919191;
}

/*右边*/
.s-minesetting-right {
    position: relative;
    float: right;
    width: 305px;
    padding-left: 13px;
    zoom: 1;
}

.s-minesetting-wrap .s-minesetting-right .s-mod-icon {
    position: absolute;
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    overflow: hidden;
    background: url("../images/mine_set.png") no-repeat -19px -31px;
}

.s-minesetting-wrap .s-minesetting-right .s-mod-title {
    padding-left: 7px;
    border: 1px solid #ccc;
}

.s-minesetting-wrap .s-minesetting-right .s-mod-item:hover .s-mod-icon {
    background-position: -146px -34px;
}

.s-minesetting-wrap .s-minesetting-right .s-mod-item:hover .s-mod-title {
    border: 1px solid #38f;
    color: #fff;
    background-color: #38f
}

/*小三角*/
.setting-arrow {
    position: absolute;
    z-index: 2;
    top: -12px;
    left: 28px;
    display: inline-block;
    width: 0;
    height: 0;
    line-height: 0;
    border: 6px dashed transparent;
    border-bottom: 6px solid #e3e3e3;
    font-size: 0;
}

.setting-arrow em {
    position: absolute;
    top: -5px;
    left: -6px;
    display: block;
    width: 0;
    height: 0;
    line-height: 0;
    font-size: 0;
    color: #666;
    border-top: 6px dashed transparent;
    border-left: 6px dashed transparent;
    border-right: 6px dashed transparent;
    border-bottom: 6px solid #fff;
}

/*各个星座*/
.s-block-container .s-mblock-content {
    width: 841px;
    padding: 0;
    margin-top: -2px;
    display: none;
}

.s-block-container .s-mblock-content {
    font-size: 14px;
}

/*星座标题*/
.constel-head {
    position: relative;
    height: 37px;
    width: 100%;
    border-bottom: 1px solid #f0f0f0;
    text-align: left;
}

.constel-head .constel-head-content {
    height: 100%;
}

.constel-item {
    position: relative;
    display: inline-block;
    zoom: 1;
    height: 37px;
    line-height: 37px;
    width: 63px;
    text-align: center;
    font-weight: normal;
    text-decoration: none;
    color: #000;
}

.constel-item:hover {
    cursor: pointer;
}

.constel-item .border-for-item {
    height: 35px;
    border: 1px dashed transparent;
}

/*星座内容*/
.s-block-xingzuo .constel-content {
    position: relative;
    z-index: 0;
    margin-left: -18px;
}

.s-block-xingzuo .constel-content, .s-block-xingzuo .constel-pannel {
    height: 198px;
    width: 100%;
}

.s-block-xingzuo .constel-content .cur-pannel {
    display: block;
    z-index: 1000;
}

.s-block-xingzuo .constel-pannel {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
}

/*星座头像*/
.s-block-xingzuo .constel-brief {
    width: 173px;
}

.s-block-xingzuo .constel-brief, .s-block-xingzuo .constel-detail {
    display: inline-block;
    zoom: 1;
    vertical-align: top;
    height: 100%;
    float: left;
}

.s-block-xingzuo .constel-brief img {
    margin-top: 36px;
}

/*星座日期*/
.s-block-xingzuo .constel-brief .constel-date {
    width: 100%;
    padding-top: 7px;
    text-align: center;
}

/*星座细节*/
.constel-pannel .constel-detail {

}

/*标题切换*/
.detail-tabs {
    padding: 23px 0 0 1px;
    height: 28px;
    text-align: left;
}

.detail-tabs .detail-tab-item {
    display: inline-block;
    zoom: 1;
    vertical-align: top;
    height: 26px;
    line-height: 26px;
    width: 82px;
    border: 1px solid #e9e9e9;
    margin-left: -1px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    color: #000;
    outline: none;
}

.detail-tab-item:hover {
    text-decoration: none;
    background-color: #38f;
    color: #fff;
    border: 1px solid #38f;
}

/*切换内容*/
.tab-contents {
    position: relative;
    z-index: 0;
    height: 152px;
    width: 100%;
}

.s-block-xingzuo .tab-contents .cur-tab {
    display: block;
    z-index: 1;
}

.tab-contents .tab-content-item {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    height: 152px;
    width: 100%;
    text-align: left;
}

/*指数*/
.tab-contents .constel-index {
    padding-top: 19px;
    height: 47px;
    width: 100%;
    text-align: left;
}

.star-content, .text-content {
    display: inline-block;
    zoom: 1;
    vertical-align: top;
    width: 360px;
}

.s-block-xingzuo .constel-index .index-detail {
    display: inline-block;
    zoom: 1;
    height: 16px;
    width: 180px;
    margin: 0;
    padding-bottom: 8px;
    float: left;
}

/*周*/
.s-block-xingzuo .week-content .constel-index {
    height: 26px;
    padding-top: 27px;
}

.s-block-xingzuo .week-content .text-content {
    width: 486px;
}

.s-block-xingzuo .week-content .constel-index .detail-text {
    width: 162px;
}

/*文字说明*/
.s-block-xingzuo .constel-index .detail-key, .s-block-xingzuo .constel-index .detail-value {
    display: inline-block;
    zoom: 1;
    vertical-align: top;
    height: 100%;
}

.s-block-xingzuo .constel-index .detail-key, .s-block-xingzuo .constel-index .detail-value {
    display: inline-block;
    zoom: 1;
    vertical-align: top;
    height: 100%;
}

/*亮星*/
.s-block-xingzuo .constel-index .detail-value .star {
    display: inline-block;
    width: 14px;
    height: 14px;
    /*margin-right: 1px;*/
    margin-right: -6px;
    vertical-align: top;
    font-size: 0;
    background: url("../images/mine_set.png") no-repeat -126px 0;
}

/*暗星*/
.s-block-xingzuo .constel-index .detail-value .grey {
    background-position: -126px -14px;
}

/*数值*/
.s-block-xingzuo .text-content {
    width: 280px;
}

.s-block-xingzuo .constel-index .detail-text {
    width: 136px;
}

/*文字说明*/
.s-block-xingzuo .constel-desc {
    height: 50px;
    line-height: 25px;
    width: 625px;
    text-align: left;
    padding-top: 10px;
}

/*更多运势*/
.constel-desc .constel-more {
    color: #07f;
    padding-left: 10px;
}

.constel-more:hover {
    cursor: pointer;
}

/*到顶部*/
.go-top {
    visibility: hidden;
    position: fixed;
    left: 50%;
    margin-left: 447px;
    width: 51px;
    bottom: 70px;
    z-index: 1000;
}

.to-top {
    position: relative;
    height: 25px;
    width: 38px;
    padding-top: 12px;
    border: 1px solid #e3e3e3;
    background-color: #fafafa;
    cursor: pointer;
}

.icon {
    display: block;
    height: 17px;
    width: 33px;
    margin: 0 auto;
    background: url(../images/top.png) no-repeat -1px -10px;
    cursor: pointer;
}

/*换肤*/
.s_skin_layer {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background: #fff;
    z-index: 1113;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, .07);
    display: none;
}

.s-skin-layer-cell {
    width: 911px;
    overflow: hidden;
    margin: 0 auto;
}

/*主题*/
.s-skin-header {
    height: 70px;
}

.s-skin-nav {
    height: 46px;
    display: inline-block;
    margin-top: 8px;
}

.s-skin-nav li {
    display: inline-block;
    width: 120px;
    border-right: 1px solid #eee;
    cursor: pointer;
}

.s-skin-nav li:last-child {
    border-right: none;
}

div.s-skin-layer .skin-nav {
    padding: 0 8px !important;
}

.skin-nav img {
    width: 97px;
    height: 54px;
}

/*收起*/
.s-skin-up {
    cursor: pointer;
    float: right;
    width: 50px;
    margin-left: 25px;
    color: #0079f5;
    height: 46px;
    line-height: 46px;
}

.s-skin-up span {
    display: inline-block;
    vertical-align: middle;
}

.bg_icon {
    margin-right: 2px;
    background: url('../images/skin_icon.png') no-repeat -44px -175px;
    width: 11px;
    height: 15px;
    margin-bottom: 3px;
}