* {
    margin: 0;
    padding: 0;
}

input {
    outline: 0;
}

a {
    text-decoration: none;
}

ol, ul {
    list-style: none;
}

body {
    font-size: 13px;
    min-height: 600px;
    position: relative;
    height: 100%;
    text-align: center;
}

#top, #footer {
    display: none;
}

.cen {
    display: none;
}

/*背景*/
#bd {
    background: #eeeff0;
    height: initial;
}

#index-card {
    position: relative;
    display: block;
}

/*头部*/

#header {
    padding-bottom: 10px;
}

#userinfo {
    position: relative;
    height: 54px;
}

/*登录图标*/
#login {
    position: absolute;
    top: 5px;
    right: 50px;
    padding: 3px;
    color: #9b9b9b;
    font-size: 28px;
    line-height: 20px;
}

#login img {
    width: 22px;
    height: 22px;
}

/*换肤*/
#skin {
    position: absolute;
    top: 5px;
    right: 10px;
    padding: 3px;
    color: #9b9b9b;
    font-size: 28px;
    line-height: 20px;
    z-index: 1;
}

/*logo*/
#logo {
    height: 55px;
    padding: 17px 0 15px;
}

#logo img {
    width: 175px;
    height: 55px;
}

/*搜索*/
#index-form {
    margin: 0 10px;
    height: 42px;
    background: #fff;
    border: 1px solid #949494;
    border-bottom-color: #bcbcbc;
}

.con-wrap {
    display: -webkit-box;
    width: 100%;
}

.se-input {
    -webkit-border-radius: 0;
    border-radius: 0;
    padding: 7px 42px 7px 6px;
    line-height: 28px;
    resize: none;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

.se-input, .se-encode {
    display: block;
    -webkit-box-flex: 1;
    padding: 6px 35px 6px 6px;
    font-size: 18px;
}

.adjust-input {
    position: relative;
    line-height: 28px;
}

.se-inner {
    width: 82px;
    position: relative;
}

/*按钮*/
#index-bn {
    position: absolute;
    top: -1px;
    right: -1px;
    width: 82px;
    height: 42px;
    background: #38f;
    color: #fff;
    white-space: nowrap;
    line-height: 42px;
    letter-spacing: -1px;
    font-size: 16px;
    border-top: 1px solid #38f;
    border-bottom: 1px solid #38f;
    box-sizing: inherit;
}

/*小图标*/
#navs {
    margin: 17px 0 14px;
    overflow: hidden;
}

#navs a:first-child, #navs a:nth-child(7) {
    margin-left: 2%;
}

#navs a {
    float: left;
    width: 16%;
    font-size: 12px;
    color: #666;
}

#navs a i {
    display: block;
    margin-bottom: 4px;
    height: 24px;
}

#navs a:nth-child(n+7) {
    margin-top: 24px;
}

/*中部*/
#plus-card {
    position: relative;
    padding: 0 8px 10px;
}

.plus {
    margin-top: 8px;
    background: #fff;
}

/*标题*/
.plus-title {
    position: relative;
    margin: 2px 14px 0;
    height: 40px;
    text-align: left;
}

.normal-title, .edit-title {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

.plus-title h2 {
    line-height: 40px;
    font-size: 15px;
    font-weight: normal;
    color: #999;
}

.plus-edit {
    position: absolute;
    right: -12px;
    top: 0;
    width: 40px;
    height: 34px;
    text-align: center;
    line-height: 40px;
}

/*三点*/
.icon-edit {
    position: absolute;
    width: 40px;
    height: 34px;
    top: 4px;
    left: 0;
}

/*下拉*/
.plus-edit ul {
    display: none;
    position: absolute;
    top: 33px;
    right: 6px;
    width: 91px;
    border: 1px solid #d9dde2;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, .1);
    background: #fff;
    text-align: center;
}

/*内容*/
.plus-content {
    overflow: hidden;
    margin-top: -5px;
    font-size: 14px;
}

#nav-list a {
    float: left;
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 6px;
    width: 25%;
    height: 42px;
    line-height: 42px;
}

#nav-list a span {
    display: inline-block;
    position: relative;
    padding: 0 6px 0 5px;
    max-width: 100%;
    box-sizing: border-box;
}

/*加号*/
#nav-list a .last {
    margin-top: 8px;
}

/*换一换*/
.refresh {
    position: absolute;
    top: 0;
    right: 22px;
    width: 82px;
    height: 38px;
    line-height: 38px;
    padding-left: 10px;
    color: #262626;
    font-size: 14px;
    text-align: center;
}

.refresh img {
    width: 20px;
    height: 20px;
    margin-top: 6px;
}

.plus-content a {
    color: #262626;
}

.icon-refresh {
    position: absolute;
    top: 2px;
    left: -2px;
    width: 34px;
    height: 34px;
    line-height: 34px;
}

#hotword-list {
    padding: 0 14px;
    text-align: left;
}

#hotword-list li {
    display: inline-block;
    width: 50%;
    height: 42px;
    line-height: 42px;
    vertical-align: top;
    float: left;
}

#hotword-list .hot {
    display: inline-block;
    position: relative;
    padding-right: 17px;
    max-width: 86%;
    vertical-align: top;
}

#hotword-list a {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/*风云榜*/
#hotword .hotSearch {
    line-height: 42px;
    text-align: right;
    border-top: 1px solid #f4f5f6;
}

#hotword .hotSearch a {
    display: inline-block;
    padding-right: 14px;
    font-size: 14px;
    color: #0058d2;
}

.hotSearch a img {
    position: relative;
    top: 2px;
    left: -5px;
}

/*生活服务*/
#lbs .gps-zone {
    position: relative;
    margin: 8px 14px 14px;
    height: 30px;
    line-height: 30px;
    text-align: left;
    color: #262626;
}

#lbs .gps-info {
    display: inline-block;
    vertical-align: middle;
    max-height: 32px;
    overflow: hidden;
}

#lbs .gps-zone p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    padding-right: 70px;
    line-height: 35px;
}

/*定位*/
#lbs .gps-zone button {
    position: absolute;
    top: 0;
    right: 0;
    width: 70px;
    height: 30px;
    border: 1px solid #d2d6dd;
    border-radius: 2px;
    text-indent: 20px;
    font-size: 14px;
    background: #fff;
}

#lbs .gps-zone span {
    position: absolute;
    top: 6px;
    right: 43px;
    width: 20px;
    height: 20px;
}

#lbs-list {
    margin-top: 5px;
    padding-bottom: 5px;
    text-align: left;
}

#lbs-list li {
    width: 23%;
    text-align: center;
}

#lbs-list a {
    padding: 0 10px;
}

#lbs-list li, #lbs-list a {
    display: inline-block;
}

#lbs-list div {
    width: 42px;
    height: 42px;
    margin: 0 auto;
}

#lbs-list p {
    height: 18px;
    line-height: 18px;
    font-size: 14px;
    margin: 3px 0 8px;
}

/*展现全部*/
.plus-control {
    height: 47px;
    line-height: 47px;
    border-top: 1px solid #f0f0f0;
    margin-top: 4px;
    font-size: 16px;
    color: #262626;
}

.plus-control img {
    width: 28px;
    height: 16px;
}

/*购物*/
#bdgouwu .shopping-item {
    padding: 9px 14px 13px 14px;
    text-align: left;
    display: block;
    position: relative;
}

/*牙刷*/
#bdgouwu .shopping-item .shop-image {
    background: url(../images/qwer.jpg);
}

#bdgouwu .shopping-item .shop-image {
    width: 90px;
    height: 90px;
    background-size: 100%;
    float: left;
}

/*购物信息*/
#bdgouwu .shopping-item .shop-info {
    width: 62%;
    height: 90px;
    margin-left: 104px;
}

/*标题*/
#bdgouwu .shop-info .shop-ti {
    max-width: 100%;
    height: 20px;
    font-size: 16px;
    display: inline-block;
    overflow: hidden;
    color: #333;
    margin-top: -4px;
}

/*价格*/
#bdgouwu .shop-price {
    display: block;
    height: 22px;
    margin-top: 4px;
}

/*96.9*/
#bdgouwu .shop-price li:nth-child(1) {
    font-size: 19px;
    color: #777;
    margin-right: 3px;
}

#bdgouwu .shop-price li {
    float: left;
    margin-right: 8px;
    display: inline-block;
    vertical-align: text-bottom;
}

/*¥*/
#bdgouwu .shop-price li:nth-child(1) span {
    font-size: 12px;
    color: #777;
    display: inline-block;
    margin-top: -2px;
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
}

/*¥204*/
#bdgouwu .shop-price li:nth-child(2) {
    font-size: 12px;
    color: #bcbcbc;
    text-decoration: line-through;
    margin-top: 5px;
}

/*|*/
#bdgouwu .shop-price li:nth-child(3) {
    font-size: 17px;
    color: #dfdfdf;
    margin-top: -1px;
}

/*返48.1元*/
#bdgouwu .shop-price li:nth-child(4) {
    font-size: 12px;
    color: #f60;
    border: 1px solid #f60;
    text-align: center;
    padding: 1px;
    margin: 1px 0 0 -6px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

/*去看看*/
#bdgouwu .shop-lin {
    width: 90px;
    height: 37px;
    background: #f60;
    font-size: 14px;
    text-align: center;
    color: #fff;
    line-height: 36px;
    display: inline-block;
    position: absolute;
    bottom: 13px;
    left: 118px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

/*京东*/
#bdgouwu .shop-from {
    font-size: 12px;
    color: #aaa;
    position: absolute;
    bottom: 10px;
    right: 14px;
}

#bdgouwu .shopping-store {
    margin: 0 14px;
    overflow: hidden;
}

#bdgouwu .shopping-store a {
    width: 25%;
    height: 17px;
    font-size: 14px;
    margin-top: 22px;
    text-align: center;
    display: block;
    float: left;
    color: #262626;
    overflow: hidden;
}

/*查看更多*/
#bdgouwu .shopping-more {
    overflow: hidden;
    padding: 14px 14px 16px;
}

#bdgouwu .shopping-more a {
    font-size: 14px;
    color: #0058d2 !important;
    display: block;
    float: right;
}

.shopping-more a img {
    position: relative;
    top: 2px;
    left: -5px;
}

/*管理我的卡片*/
#admin {
    line-height: 45px;
    height: 45px;
    color: #333;
    font-size: 14px;
    text-indent: -8px;
    background: #fff;
    background-clip: content-box;
    margin-top: 10px;
}

/*底部*/

#bottom ul li .icon-hot {
    position: absolute;
    top: 8px;
    left: 0;
    display: inline-block;
    width: 21px;
    height: 21px;
    background: url(../images/hot.png);
    background-size: 100% 100%;
    vertical-align: middle;
}

.yi {
    margin: 0 28px;
}

.yi li {
    height: 33px;
    line-height: 33px;
    text-align: left;
}

.yi a {
    position: relative;
    height: 33px;
    overflow: hidden;
    display: block;
    padding-left: 21px;
    font-size: 13px;
    color: #555;
    background: none no-repeat 0 center;
    -webkit-background-size: 15px 11px;
}

#foot {
    margin: 10px 28px 0;
    padding-bottom: 20px;
}

#foot div {
    overflow: hidden;
    text-align: center;
}

#foot div a {
    position: relative;
    display: inline-block;
    height: 34px;
    width: 95px;
    line-height: 34px;
    color: #666;
    font-size: 13px;
}

/*
#foot div a .icon-feedback {
    position: absolute;
    top: 8px;
    left: 0;
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(../images/下载.png) no-repeat;
    background-size: 100% 100%;
    vertical-align: middle;
}*/
